<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/Repositories/EProfile/Styles/surveyStyle.css">
        <link rel="stylesheet" href="/Repositories/EProfile/Styles/Calendar.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/Repositories/EProfile/Scripts/calendar.js"></script>
    </head>
    <body>        
        <header class="navbar navbar-default">
            <div class="container-fluid">
              <ul class="nav navbar-nav">
                <li>
                    <a class="nav-link " href="/Repositories/EProfile/templates/Home.html">Home</a>
                </li>    
                <li>
                  <a class="nav-link" href="/Repositories/EProfile/templates/emotionTracker.html">Emotion Tracker</a>
                </li>     
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Survey<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/Repositories/EProfile/templates/educatorSurvey.html">Educator</a></li>
                        <li><a href="/Repositories/EProfile/templates/studentSurvey.html">Student Assessment</a></li>
                        <li><a href="/Repositories/EProfile/templates/peerSurvey.html">Peer Assessment</a></li>
                    </ul>
                  </li>                                       
                <li>
                  <a class="nav-link " href="/Repositories/EProfile/templates/Calendar.html">Calendar</a>
                </li>
                <li>
                  <a class="nav-link" href="/Repositories/EProfile/templates/Reporting.html">Reporting</a>
                </li>
                <li>
                  <a class="nav-link" href="/Repositories/EProfile/templates/Profile.html">Profile</a>
                </li>
              </ul> 
            </div>
        </header>
        <div class="col-sm-2 sidenav"> 
        </div>
        <div class="col-sm-8 text-left"> 
          <h1>Calendar</h1>
          <hr>     
          <table class="table table-bordered table-responsive-sm" id="Calendar"> 
            <thead>
              <div class="col-sm-5 dates">
                <label for="monthVal">Select Month:</label>
                <select id="monthVal">
                  <option value="January">January</option>
                  <option value="February">February</option>
                  <option value="March">March</option>
                  <option value="April" selected="selected">April</option>
                  <option value="May">May</option>
                  <option value="June">June</option>
                  <option value="July">July</option>
                  <option value="August">August</option>
                  <option value="September">September</option>
                  <option value="October">October</option>
                  <option value="November">November</option>
                  <option value="December">December</option>
                </select>
              </div>
              <div class="col-sm-5 dates">
                <label for="yearVal">Select Year:</label>
                <select id="yearVal">
                  <option value="2019">2019</option>
                  <option value="2020" selected="selected">2020</option>
                  <option value="2021">2021</option>
                </select>
              </div>
              <tr>
                <th>Sunday</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
              </tr>
            </thead>
            <tbody id="CalendarBody">

            </tbody>
          </table>

          <hr>
          <div id="selectedDate">
            <span class="border border-primary"><h3>Upcoming Events for - Monday - 5</h3></span>
            <p>Work From Home 9:00 - 4:00 pm</p>
            <p>Dinner from 4:30 - 5:30 pm</p>
            <p>Peer Meetup from 6:00 - 7:30 pm</p>
            <button>Add item</button>
          </div>

        </div>
        <div class="col-sm-2 sidenav">        
        </div>
        <div class="footer"></div>     
    </body>
</html>