<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
         <link rel="stylesheet" href="/Repositories/EProfile/Styles/surveyStyle.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/Repositories/EProfile/Scripts/slider.js"></script>
    </head>
    <body>        
        <header class="navbar navbar-default">
            <div class="container-fluid">
              <ul class="nav navbar-nav">
                <li>
                    <a class="nav-link " href="/">Home</a>
                </li>         
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Survey<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/Repositories/EProfile/templates/educatorSurvey.html">Educator</a></li>
                        <li><a href="/Repositories/EProfile/templates/studentSurvey.html">Student Assessment</a></li>
                        <li><a href="/Repositories/EProfile/templates/peerSurvey.html">Peer Assessment</a></li>
                    </ul>
                  </li>                                       
                <li>
                  <a class="nav-link " href="/">Calendar</a>
                </li>
                <li>
                  <a class="nav-link" href="/">Reporting</a>
                </li>
                <li>
                  <a class="nav-link" href="/Repositories/EProfile/templates/Profile.html">Profile</a>
                </li>
              </ul> 
            </div>
        </header>
        <div class="col-sm-2 sidenav"> 
        </div>
        <div class="col-sm-8 text-left" id="centerPane"> 
          <h1>Survey - Student</h1>
          <hr>       
          {{ with .List }}
            {{ range . }}
              <h3 for="customRange">{{.Question}}</h3>
              <h3>{{.Description}}</h3>
              <input type="range" class="custom-range slider" min="1" max="5" id="customRange">
              <div class="sliderticks">
                <p>1</p>
                <p>2</p>
                <p>3</p>
                <p>4</p>
                <p>5</p>
              </div>
              <hr>
            {{ end }} 
          {{ end }}
          <h3 for="customRange1">Question 1</h3>
          <input type="range" class="custom-range slider" min="1" max="5" id="customRange1">
          <div class="sliderticks">
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p>5</p>
          </div>
          <hr>
          <h3 for="customRange2">Question 2</h3>
          <input type="range" class="custom-range slider" min="1" max="5" id="customRange2">
          <div class="sliderticks">
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p>5</p>
          </div>
          <hr>
          <h3 for="customRange3">Question 3</h3>
          <input type="range" class="custom-range slider" min="1" max="5" id="customRange3">
          <div class="sliderticks">
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p>5</p>
          </div>
          <hr>
        </div>
        <div class="col-sm-2 sidenav">        
        </div>
    </body>
</html>